@import url(variables.css);

.container {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: var(--red-color);
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.btn.primary {
  background: var(--bg-text-secondary-blue);
    border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn.primary:hover {
  background: var(--bg-text-secondary-opacity-blue);
}

.btn.danger {
    border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: var(--red-color);
}
