@import url(./variables.css);

:root {
  --primary-gradient: linear-gradient(
    135deg,
    hsl(217 91% 60%),
    hsl(255 91% 76%)
  );
  --white: #fff;
  --primary-text-blue: #1e293b;
  --secondary-text-gray: #6b7280;
  --primary-border-color: #e5e7eb;
  --bg-text-secondary-blue: #3c83f6;
  --bg-text-secondary-opacity-blue: rgba(60, 131, 246, 70%);
  --success-green: #16a34a;
  --warning-orange: #f59e0b;
  --danger-red: #dc2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fafb;
  color: var(--primary-text-blue);
}

/* Dashboard */
.secretary-dashboard {
  padding: 32px;
}

/* produit consulter */

.produit-consulter > div {
  margin-bottom: 16px;
}

.product-list li > div {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.product-list li .stock {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.product-list li .stock small {
  padding: 2px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.product-list li .stock small.low {
  background-color: var(--red-color);
  color: white;
}

.product-list li .stock small.good {
  background-color: var(--primary-text-blue);
  color: white;
}


.recent-list .price {
  font-weight: bold;
}

.stock.good {
  color: var(--success-green);
}
.stock.medium {
  color: var(--warning-orange);
}
.stock.low {
  color: var(--danger-red);
}

.time {
  font-size: 12px;
  color: var(--secondary-text-gray);
  display: block;
}
