@import url(variables.css);
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.product-card p {
  margin: 10px 0;
  font-size: 16px;
}

.btn {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: var(--bg-text-secondary-blue);
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.btn:hover {
  background: var(--bg-text-secondary-opacity-blue);
}
